/* ----------------------------------------------
Custom animations
---------------------------------------------- */

/* Locker intro */

@keyframes bouncetop {
    0% {
      transform: translateY(-450px);
      animation-timing-function:ease-in;
    }
  
    24% {
      opacity: 1;
    }
  
    25% {
      transform: translateY(0);
      animation-timing-function:ease-out;
    }
  
    40% {
      transform: translateY(-100px) rotate(-3deg);
      animation-timing-function:ease-in;
    }
  
    55% {
      transform: translateY(0) rotate(0deg);
      animation-timing-function:ease-out;
    }
  
    65% {
      transform: translateY(-50px) rotate(2deg);
      animation-timing-function:ease-in;
    }
  
    75% {
      transform: translateY(0) rotate(0deg);
      animation-timing-function:ease-out;
    }
  
    82% {
      transform: translateY(-25px);
      animation-timing-function:ease-in;
    }
  
    87% {
      transform: translateY(0);
      animation-timing-function:ease-out;
    }
  
    93% {
      transform: translateY(-6px);
      animation-timing-function:ease-in;
    }
  
    100% {
      transform: translateY(0);
      animation-timing-function:ease-out;
    }
  }
  
  .animate-bouncetop {
    animation: bouncetop 1s linear;
  }

/* Door open */

.door-open{
    animation:swing-left 0.4s linear both
} 

@keyframes swing-left{
    0%{
        transform:rotateY(0);
        transform-origin:left bottom
    }
    100%{
        transform:rotateY(-180deg);
        transform-origin:left bottom;
        opacity: 0;
    }
}
  