.loader {
    width: 48px;
    height: 48px;
    border: 8px solid #FFF;
    border-bottom-color: #cb28ff;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 