@tailwind base;
@tailwind components;
@tailwind utilities;

.btn1{
    @apply flex rounded-full py-2 px-3 font-bold border-2 border-white text-white text-lg transition ease-in-out active:scale-90 active:text-gray-400 active:border-gray-400 bg-gradient-to-br from-galicia1-900 to-galicia2-900
}

.unlock{
    @apply text-success-600 bg-white bg-opacity-50 p-2 rounded-full absolute top-1/3 left-1/4 w-1/2 overflow-visible border-2 border-success-600 animate-bounce
}

.lock{
    @apply text-danger-600 bg-white bg-opacity-50 p-2 rounded-full absolute top-1/3 left-1/4 w-1/2 overflow-visible border-2 border-danger-600 
}